doctype html
html
  head
    meta(charset='UTF-8')
    title webpack
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      h1 hi, webpack